* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

main {
    font-family: "Inter", sans-serif;
}

.nav-h1 {
    font-size: 1.9rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    border-top: 3px solid lightgray;
    width: 25vw;
    text-align: start;
    padding: 15px;

}
.nav-links-container{  
    width: 25vw;
    display: grid;
    height: 100vh;

}

.side-nav {
    position: fixed;
    border-right: 3px solid lightgray;
    overflow:auto;
  
}

.main-section {
    display: grid;
    gap: 10px;
}

.sections {
    display: grid;
    margin-left: 26vw;
    grid-auto-rows: auto;
    gap: 25px;
}

.content {
    display: grid;
    gap: 10px;
    line-height: 150%;
}

.text {
    display: grid;
    gap: 10px;
}

.example {
    display: grid;
    gap: 10px;
    padding-left: 50px;
    padding-right: 125px;
}

.subexample {
    display: grid;
    gap: 10px;
    padding-left: 50px;
    padding-right: 125px;
    list-style: circle;
}

.code {
    font-family: monospace;
    font-size: 0.5rem;
    line-height: 0.5;
    background-color: #f7f7f7;
    margin-left: 8px;
    padding: 16px;
    margin-right: 52px;
    border-radius: 5px;
    line-height: 200%;
    white-space: pre-line;
}

.section-h2 {
    font-size: 1.7rem;
}

code {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.7rem;
}

@media only screen and (max-width:1000px) {
*{
justify-content: center;
align-items: center;
margin-right: 30px;

}
    .side-nav{
    height: 200px;
    width:50vw;
    position:relative;
    border:3px solid lightgray;
    align-items: center;
    justify-content: center;
    margin-left:200px;   
    
}
.nav-link {
border-top:0;
    width: 25vw;
    text-align: start;
    padding: 15px;
}
}